 <div class="row">
        <div class="col-md-8 p- ps-5">
            <h3 class="text-capitalize"><span>This First Heading</span>
                <span class="text-secondary">Will Catch Your Eye</span>
            </h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum laudantium eaque, vel delectus ullam sunt
                deserunt ipsam, voluptates quae molestias iure rem at debitis? Debitis reprehenderit nihil minima libero
                laudantium.</p>
        </div>
        <div class="col-md-4 d-flex justify-content-start ps-2">
            <img src="assets/img/1.jpg" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-12 p-5">

            <hr style="color: #d3cecec1;" />
        </div>
    </div>