<div class="row">
    <div class="col-md-12 p-0">
        <div class="tagline py-5" id="img-bg">
            <img src="assets/img/bg.jpg" class="img-fluid w-100">
            <div class="pt-5 position-absolute top-50 start-50 translate-middle w-100">
                <h1 class="display-1 fw-bold text-center bg-light wy: auto">One Page Wonder</h1>
                <h2 class="display-5 fw-bold text-center bg-light wy:auto">Will Knock Your Socks Off </h2>
            </div>
        </div>
    </div>
</div>
<div class="justify-center p-5">
    <hr style="color: #d3cecec1" />
</div>